
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDsCjizcJeIlr9xZyoQ1u1mb25fPOvfFYk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=momentum-3bf8c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=momentum-3bf8c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=momentum-3bf8c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=568222287412
NEXT_PUBLIC_FIREBASE_APP_ID=1:568222287412:web:a0fccbdb6aa25dff6fec61
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-CJ2Q56TN5E

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
